body {
	background-color: #222222;
}

@font-face {
	font-family: "Poppins", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
}

.contactLink {
	color: #debf79;
	text-decoration: none;
	font-weight: bold;
	float: right;
}

.nav-logo {
	float: left;
}
