body {
	background-color: #222222;
	padding: 5%;
	
}

@font-face {
	font-family: "Poppins", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
}

.cards {
	background-color: #F5F5F5;
	border-radius: 1%;
	
	padding-top: 5%;
	
}

.contactLink {
	color: #debf79;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	
}

@media (max-width: 767px) {
	.cards {
		height: 65vh;
	}
}


