@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");



body {
	
	background: linear-gradient(
		to right,
		#222222 0%,
		#222222 50%,
		#f5f5f5 50%,
		#f5f5f5 100%
	);
	padding: 5%;
}

.split-left {
    background-color: black;
    height: 100%;
    width: 50%;
}

.split-right {
    background-color: white;
    height: 100%;
    width: 50%;
}

@font-face {
	font-family: "Poppins", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
}

.contactLink {
	color: #debf79;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	padding-right: 3rem;
}

@media (max-width: 767px) {
	body {
		height: 100%;
		background: linear-gradient(
			to bottom,
			#222222 0em,
			#222222 25em,
			#f5f5f5 25em,
			#f5f5f5 100em
		);
	}

	h1 {
		text-align: left;
	}
	.contactLink {
		padding-right: 1.5rem;
	}

}

.formControl {
	background-color: #dad6d6a5;
	width: 100%;
	margin-bottom: 1rem;
	height: 3rem;
	border: none;
}
input[type='text'] {padding-left: 20px;}


.contact-btn {
	/* outline: none !important; */
	
	border:none;
	background-color: #debf79;
	color: #f5f5f5;
	border-radius: 0;
	height: 3rem;
	width: 8rem;
	margin-top: 1rem;
	text-align: center;

}

